.cpcache/
.calva/
.lsp/
.nrepl-port
all-in-one/.clj-kondo/.cache/v1/lock
all-in-one/.clj-kondo/.cache/v1/clj/clojure.core.transit.json
all-in-one/.clj-kondo/.cache/v1/clj/user.transit.json
.gitignore
all-in-one/.vscode/settings.json
web-app/.clj-kondo/.cache/
